<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between">
  <a href="/" class="navbar-brand">Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse collapse justify-content-between" id="collapsingNavbar2">
    <ul class="navbar-nav" *ngIf="auth.loggedIn();else guest">
        <li class="nav-item">
            <a class="nav-link" routerLink='/login' routerLinkActive='active'>First</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/login' routerLinkActive='active'>Second</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/login' routerLinkActive='active'>Thrird</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">{{ 'log-out' | translate }}</a>
        </li>
    </ul>
    <ng-template #guest>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink='/login' routerLinkActive='active'>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/register' routerLinkActive='active'>Register</a>
            </li>
        </ul>
    </ng-template>
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item"><a class="nav-link" (click)="switchLanguage('en')"><i class="fa fa-facebook"></i></a></li>
      <li class="nav-item"><a class="nav-link" (click)="switchLanguage('fr')"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</nav>